<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Resume Parser & Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styleabout.css') }}">
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Features</a></li>
               
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="container">
            <h2>About Us</h2>
            <p>At JobPlus, we are passionate about revolutionizing the recruitment industry through cutting-edge technology. With our commitment to innovation and excellence, we have developed a state-of-the-art resume parsing and analyzing software that empowers both employers and job seekers.</p>
        </div>
    </section>

    <section class="mission">
        <div class="container">
            <h2>Our Mission</h2>
            <p>Our mission is to provide powerful and efficient tools for recruiters and HR professionals to streamline their hiring process, saving time and effort while ensuring the selection of the best candidates for their organizations.</p>
        </div>
    </section>

    <section class="team">
        <div class="container">
            <h2>Join Us in Shaping the Future of Recruitment
            </h2>
            <div class="team-members">
                <!-- Add team member cards here -->
                <div class="team-member">
                    
                    
                    <p>you are an employer looking to streamline your hiring process ,JobPlus is here to support you every step of the way. 
                        Join us in shaping the future of recruitment and unlocking the full potential of talent acquisition.</p>
                </div>
                
            </div>
        </div>
    </section>

    <!-- Add more sections as needed -->

    <footer>
        <p>&copy; 2024 ResumeParserCo. All rights reserved.</p>
    </footer>
</body>
</html>

